<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataModuleUrl</key>
	<string>https://data-swiftsdk.wedeploy.io</string>
	<key>authModuleUrl</key>
	<string>https://auth-swiftsdk.wedeploy.io</string>
	<key>emailModuleUrl</key>
	<string>https://email-swiftsdk.wedeploy.io</string>
	<key>masterToken</key>
	<string>c66a0869-34b9-4b5f-8d7a-117358f33b61</string>
</dict>
</plist>
