<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataModuleUrl</key>
	<string>http://data.easley84.wedeploy.io</string>
	<key>authModuleUrl</key>
	<string>http://auth.easley84.wedeploy.io</string>
	<key>emailModuleUrl</key>
	<string>http://email.easley84.wedeploy.io</string>
	<key>userId</key>
	<string>191510224485334880</string>
	<key>password</key>
	<string>test</string>
	<key>username</key>
	<string>test@test.com</string>
</dict>
</plist>
